<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.denishamann.guesstimate"
          android:versionCode="6"
          android:versionName="1.0.6">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:label="My Test label"
            android:targetPackage="edu.denishamann.guesstimate">
    </instrumentation>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="edu.denishamann.guesstimate.activitys.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="edu.denishamann.guesstimate.activitys.MapActivity"
                android:label="@string/title_activity_map"
                android:theme="@style/NoBackground"
                android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
                android:name="edu.denishamann.guesstimate.activitys.StartActivity"
                android:label="@string/title_activity_start"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="edu.denishamann.guesstimate.activitys.HowToActivity"
                android:label="@string/title_activity_how_to"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeSimple">
        </activity>
        <activity
                android:name="edu.denishamann.guesstimate.activitys.AboutActivity"
                android:label="@string/title_activity_about"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="edu.denishamann.guesstimate.activitys.GuessActivity"
                android:label="@string/title_activity_guess"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeSimple">
        </activity>

        <activity
                android:name="edu.denishamann.guesstimate.activitys.HighScoreActivity"
                android:label="@string/title_activity_high_score"
                >
        </activity>

        <service
                android:name="edu.denishamann.guesstimate.BackgroundService"
                android:label="@string/app_name">
        </service>

        <receiver android:name="edu.denishamann.guesstimate.ProximityAlert">
            <intent-filter>
                <action android:name="edu.denishamann.guesstimate.PROXIMITYALERT"/>
            </intent-filter>
        </receiver>

        <uses-library android:name="android.test.runner"/>


    </application>

</manifest>